@charset "UTF-8";
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/* Image:
 *   image-width($image), image-height($image)
 * Embedding:
 *   inline-image($image, [$mime-type])
 *   inline-font-files([$font, $format]*)
 * Math:
 *   pi(), sin($number), cos($number), tan($number)
 * Contrast:
 *   contrast-color($color, [$dark], [$light], [$threshold]), 
 *   contrasted($background-color, [$dark], [$light], [$threshold])
 */
/**
 * Gridpak Beta SCSS 
 *
 * Generator - http://gridpak.com/
 * Created by @erskinedesign
 */
/* Reusable column setup */
/* 1. 2 Column Grid 0px - 319px 
----------------------------------------------------------------------------- 

Span 1:    50%
Span 2:    100%

----------------------------------------------------------------------------- */
@media screen and (min-width: 0px) and (max-width: 319px) {
  .row {
    margin-top: 14px;
    margin-left: -14px; }

  .col {
    border-left-width: 14px;
    padding: 0 0px; }

  /* --- Gridpak variables ---*/
  /*
  Add your semantic classnames in alongside their corresponding spans here. e.g.
  
  .span_3,
  .my_semantic_class_name {
      ...
  }
  
  */
  .span_1 {
    border: 0px solid rgba(0, 0, 0, 0);
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding-box !important;
    -webkit-background-clip: padding-box !important;
    background-clip: padding-box !important;
    width: 50%;
    border-left-width: 14px;
    padding: 0 0px;
    margin-left: 0; }

  .span_2 {
    margin-left: 0;
    width: 100%; } }
/* 2. 6 Column Grid 320px - 479px 
----------------------------------------------------------------------------- 

Span 1:    16.6666666667%
Span 2:    33.3333333333%
Span 3:    50.0%
Span 4:    66.6666666667%
Span 5:    83.3333333333%
Span 6:    100%

----------------------------------------------------------------------------- */
@media screen and (min-width: 320px) and (max-width: 479px) {
  .row {
    margin-top: 14px;
    margin-left: -14px; }

  .col {
    border-left-width: 14px;
    padding: 0 0px; }

  /* --- Gridpak variables ---*/
  .span_1 {
    border: 0px solid rgba(0, 0, 0, 0);
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding-box !important;
    -webkit-background-clip: padding-box !important;
    background-clip: padding-box !important;
    width: 16.667%;
    border-left-width: 14px;
    padding: 0 0px;
    margin-left: 0; }

  .span_2 {
    border: 0px solid rgba(0, 0, 0, 0);
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding-box !important;
    -webkit-background-clip: padding-box !important;
    background-clip: padding-box !important;
    width: 33.333%;
    border-left-width: 14px;
    padding: 0 0px;
    margin-left: 0; }

  .span_3 {
    border: 0px solid rgba(0, 0, 0, 0);
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding-box !important;
    -webkit-background-clip: padding-box !important;
    background-clip: padding-box !important;
    width: 50%;
    border-left-width: 14px;
    padding: 0 0px;
    margin-left: 0; }

  .span_4 {
    border: 0px solid rgba(0, 0, 0, 0);
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding-box !important;
    -webkit-background-clip: padding-box !important;
    background-clip: padding-box !important;
    width: 66.667%;
    border-left-width: 14px;
    padding: 0 0px;
    margin-left: 0; }

  .span_5 {
    border: 0px solid rgba(0, 0, 0, 0);
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding-box !important;
    -webkit-background-clip: padding-box !important;
    background-clip: padding-box !important;
    width: 83.333%;
    border-left-width: 14px;
    padding: 0 0px;
    margin-left: 0; }

  .span_6 {
    margin-left: 0;
    width: 100%; } }
/* 3. 8 Column Grid 480px - 779px 
----------------------------------------------------------------------------- 

Span 1:    12.5%
Span 2:    25.0%
Span 3:    37.5%
Span 4:    50.0%
Span 5:    62.5%
Span 6:    75.0%
Span 7:    87.5%
Span 8:    100%

----------------------------------------------------------------------------- */
@media screen and (min-width: 480px) and (max-width: 779px) {
  .row {
    margin-top: 14px;
    margin-left: -14px; }

  .col {
    border-left-width: 14px;
    padding: 0 0px; }

  /* --- Gridpak variables ---*/
  .span_1 {
    border: 0px solid rgba(0, 0, 0, 0);
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding-box !important;
    -webkit-background-clip: padding-box !important;
    background-clip: padding-box !important;
    width: 12.5%;
    border-left-width: 14px;
    padding: 0 0px;
    margin-left: 0; }

  .span_2 {
    border: 0px solid rgba(0, 0, 0, 0);
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding-box !important;
    -webkit-background-clip: padding-box !important;
    background-clip: padding-box !important;
    width: 25%;
    border-left-width: 14px;
    padding: 0 0px;
    margin-left: 0; }

  .span_3 {
    border: 0px solid rgba(0, 0, 0, 0);
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding-box !important;
    -webkit-background-clip: padding-box !important;
    background-clip: padding-box !important;
    width: 37.5%;
    border-left-width: 14px;
    padding: 0 0px;
    margin-left: 0; }

  .span_4 {
    border: 0px solid rgba(0, 0, 0, 0);
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding-box !important;
    -webkit-background-clip: padding-box !important;
    background-clip: padding-box !important;
    width: 50%;
    border-left-width: 14px;
    padding: 0 0px;
    margin-left: 0; }

  .span_5 {
    border: 0px solid rgba(0, 0, 0, 0);
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding-box !important;
    -webkit-background-clip: padding-box !important;
    background-clip: padding-box !important;
    width: 62.5%;
    border-left-width: 14px;
    padding: 0 0px;
    margin-left: 0; }

  .span_6 {
    border: 0px solid rgba(0, 0, 0, 0);
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding-box !important;
    -webkit-background-clip: padding-box !important;
    background-clip: padding-box !important;
    width: 75%;
    border-left-width: 14px;
    padding: 0 0px;
    margin-left: 0; }

  .span_7 {
    border: 0px solid rgba(0, 0, 0, 0);
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding-box !important;
    -webkit-background-clip: padding-box !important;
    background-clip: padding-box !important;
    width: 87.5%;
    border-left-width: 14px;
    padding: 0 0px;
    margin-left: 0; }

  .span_8 {
    margin-left: 0;
    width: 100%; } }
/* 4. 12 Column Grid 780px - Infinity 
----------------------------------------------------------------------------- 

Span 1:    8.33333333333%
Span 2:    16.6666666667%
Span 3:    25.0%
Span 4:    33.3333333333%
Span 5:    41.6666666667%
Span 6:    50.0%
Span 7:    58.3333333333%
Span 8:    66.6666666667%
Span 9:    75.0%
Span 10:    83.3333333333%
Span 11:    91.6666666667%
Span 12:    100%

----------------------------------------------------------------------------- */
@media screen and (min-width: 780px) {
  .row {
    margin-top: 14px;
    margin-left: -14px; }

  .col {
    border-left-width: 14px;
    padding: 0 0px; }

  /* --- Gridpak variables ---*/
  .span_1 {
    border: 0px solid rgba(0, 0, 0, 0);
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding-box !important;
    -webkit-background-clip: padding-box !important;
    background-clip: padding-box !important;
    width: 8.333%;
    border-left-width: 14px;
    padding: 0 0px;
    margin-left: 0; }

  .span_2 {
    border: 0px solid rgba(0, 0, 0, 0);
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding-box !important;
    -webkit-background-clip: padding-box !important;
    background-clip: padding-box !important;
    width: 16.667%;
    border-left-width: 14px;
    padding: 0 0px;
    margin-left: 0; }

  .span_3 {
    border: 0px solid rgba(0, 0, 0, 0);
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding-box !important;
    -webkit-background-clip: padding-box !important;
    background-clip: padding-box !important;
    width: 25%;
    border-left-width: 14px;
    padding: 0 0px;
    margin-left: 0; }

  .span_4, #sidebar {
    border: 0px solid rgba(0, 0, 0, 0);
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding-box !important;
    -webkit-background-clip: padding-box !important;
    background-clip: padding-box !important;
    width: 33.333%;
    border-left-width: 14px;
    padding: 0 0px;
    margin-left: 0; }

  .span_5 {
    border: 0px solid rgba(0, 0, 0, 0);
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding-box !important;
    -webkit-background-clip: padding-box !important;
    background-clip: padding-box !important;
    width: 41.667%;
    border-left-width: 14px;
    padding: 0 0px;
    margin-left: 0; }

  .span_6, .half {
    border: 0px solid rgba(0, 0, 0, 0);
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding-box !important;
    -webkit-background-clip: padding-box !important;
    background-clip: padding-box !important;
    width: 50%;
    border-left-width: 14px;
    padding: 0 0px;
    margin-left: 0; }

  .span_7 {
    border: 0px solid rgba(0, 0, 0, 0);
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding-box !important;
    -webkit-background-clip: padding-box !important;
    background-clip: padding-box !important;
    width: 58.333%;
    border-left-width: 14px;
    padding: 0 0px;
    margin-left: 0; }

  .span_8, #main {
    border: 0px solid rgba(0, 0, 0, 0);
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding-box !important;
    -webkit-background-clip: padding-box !important;
    background-clip: padding-box !important;
    width: 66.667%;
    border-left-width: 14px;
    padding: 0 0px;
    margin-left: 0; }

  .span_9 {
    border: 0px solid rgba(0, 0, 0, 0);
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding-box !important;
    -webkit-background-clip: padding-box !important;
    background-clip: padding-box !important;
    width: 75%;
    border-left-width: 14px;
    padding: 0 0px;
    margin-left: 0; }

  .span_10 {
    border: 0px solid rgba(0, 0, 0, 0);
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding-box !important;
    -webkit-background-clip: padding-box !important;
    background-clip: padding-box !important;
    width: 83.333%;
    border-left-width: 14px;
    padding: 0 0px;
    margin-left: 0; }

  .span_11 {
    border: 0px solid rgba(0, 0, 0, 0);
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding-box !important;
    -webkit-background-clip: padding-box !important;
    background-clip: padding-box !important;
    width: 91.667%;
    border-left-width: 14px;
    padding: 0 0px;
    margin-left: 0; }

  .span_12 {
    margin-left: 0;
    width: 100%; } }
/*--- HEADINGS ---*/
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1.5em;
  font-weight: bold; }

h1 {
  font-size: 1.5em;
  /* 24px --> 24 ├╖ 16 = 1.5 */
  line-height: 1em;
  /* 24px --> 24 ├╖ 24 = 1 */ }

h2 {
  font-size: 1.375em;
  /* 22px --> 22 ├╖ 16 = 1.375 */
  line-height: 1.0909em;
  /* 24px --> 24 ├╖ 22 = 1.090909(09) */ }

h3 {
  font-size: 1.25em;
  /* 20px --> 20 ├╖ 16 = 1.25 */
  line-height: 1.2em;
  /* 24px --> 24 ├╖ 20 = 1.2 */ }

h4 {
  font-size: 1.125em;
  /* 18px --> 18 ├╖ 16 = 1.125 */
  line-height: 1.333em;
  /* 24px --> 24 ├╖ 18 = 1.3333333(3) */ }

h5, h6 {
  font-size: 1em;
  /* 16px --> 16 ├╖ 16 = 1 */
  line-height: 1.5em;
  /* 24px --> 24 ├╖ 16 = 1.5 */ }

/*--- PARAGRAPHS ---*/
p {
  margin-bottom: 1.5em; }

/*p+p{
  text-indent:2em;
  margin-top:-1.5em;
}*/
/*--- LISTS ---*/
ul, ol {
  margin-bottom: 1.5em;
  /* Remember, if your magic number is
  different to this, use your own. */ }

/*ul {
  list-style: square outside;
}*/
ul ul, ol ol {
  margin: 0 0 0 5em; }

/*--- QUOTES ---*/
blockquote {
  margin: 0 60px 0 45px;
  border-left: 5px solid #ccc;
  padding-left: 10px;
  text-indent: -0.4em; }

blockquote b {
  display: block;
  text-indent: 0; }

/*--- LINKS ---*/
a {
  color: #09f;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

/*a:active,
a:focus {
  position: relative;
  top: 1px;
}*/
.read-more:after {
  content: "\00A0\000BB";
  /* Insert a space then right angled-quote */ }

/* Selection colours (easy to forget) */
::selection {
  background: #ffff9e; }

::-moz-selection {
  background: #ffff9e; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

body {
  -webkit-tap-highlight-color: #ffff9e; }

.accent.darker {
  color: #34681e; }
.accent.color {
  color: #3e7c24; }
.accent.font {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  font-weight: 400; }

html {
  background-color: #23272a;
  background: black url("../img/background.jpg") center top repeat-x;
  color: #a5a6aa;
  margin: 0 auto;
  /* iPhone text size adjust */
  -webkit-text-size-adjust: none; }

body {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  max-width: 900px;
  margin: 0 auto; }
body a {
  color: #3e7c24; }
body a:hover {
  color: #34681e;
  text-decoration: none; }
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  font-weight: 600; }
@media screen and (min-width: 0px) and (max-width: 479px) {
  body h1, body h2, body h3, body h4, body h5, body h6 {
    text-align: center; } }

/* Default */
/* Main Header */
.container {
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1; }

article, section {
  overflow: hidden;
  *zoom: 1; }

.horizontal-menu, #header nav#access ul.menu {
  float: left;
  list-style: none;
  margin: 0; }
.horizontal-menu > li, #header nav#access ul.menu > li {
  float: left; }
.horizontal-menu > li ul, #header nav#access ul.menu > li ul {
  display: none; }

#header #logo {
  background: url("../img/logo.png") top left no-repeat;
  width: 480px;
  height: 113px; }
#header #logo h1 {
  text-indent: -9999px;
  font-weight: bold;
  text-transform: uppercase; }
#header nav#access ul.menu {
  overflow: hidden;
  *zoom: 1;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzc2OTgxMiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzU3NzMwMiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-linear-gradient(#769812, #577302);
  background-image: -moz-linear-gradient(#769812, #577302);
  background-image: -o-linear-gradient(#769812, #577302);
  background-image: linear-gradient(#769812, #577302);
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -khtml-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  -khtml-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  border-top: 1px solid #9cba42;
  margin: 0 0 0 1em;
  color: #2a5100;
  font-size: 12px;
  font-weight: bold;
  width: 100%;
  margin: 0; }
#header nav#access ul.menu a {
  color: #2a5100;
  display: block;
  padding: 16px 24px;
  text-transform: uppercase; }

#next-match > div {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIxMjUyOCIvPjxzdG9wIG9mZnNldD0iMjclIiBzdG9wLWNvbG9yPSIjNDA0NDRiIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMTYxYjFmIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-linear-gradient(#212528 0%, #40444b 27%, #161b1f 100%);
  background-image: -moz-linear-gradient(#212528 0%, #40444b 27%, #161b1f 100%);
  background-image: -o-linear-gradient(#212528 0%, #40444b 27%, #161b1f 100%);
  background-image: linear-gradient(#212528 0%, #40444b 27%, #161b1f 100%);
  margin: 0 14px;
  display: block;
  height: 300px; }

#page #content {
  overflow: hidden;
  *zoom: 1;
  -webkit-box-shadow: black 0 0 50px 20px;
  -moz-box-shadow: black 0 0 50px 20px;
  box-shadow: black 0 0 50px 20px;
  padding: 0 14px 14px;
  background: #23272a;
  color: #a5a6aa; }
#page #content h3 {
  color: #fff; }
#page #content h4 {
  color: #8a8c90;
  font-size: 12px;
  font-weight: bold; }
#page #content h2 {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJmMmYyZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzIwMjAyMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-linear-gradient(#2f2f2f, #202020);
  background-image: -moz-linear-gradient(#2f2f2f, #202020);
  background-image: -o-linear-gradient(#2f2f2f, #202020);
  background-image: linear-gradient(#2f2f2f, #202020);
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 0 5px 15px;
  -moz-box-shadow: rgba(0, 0, 0, 0.75) 0 5px 15px;
  box-shadow: rgba(0, 0, 0, 0.75) 0 5px 15px;
  padding: 9px 14px 8px;
  border-top: 1px solid #4b4b4b;
  border-bottom: 1px solid #1a1a1a;
  font-size: 14px;
  font-weight: 800;
  color: #e2e2e2;
  text-shadow: black 0 1px 1px;
  margin-bottom: 14px; }
#page #content .category .half ul {
  list-style: none; }
#page #content .category .half ul > li {
  border-bottom: 1px solid #424549;
  padding-top: 14px; }
#page #content .category .half ul > li:last-child {
  border-bottom: 0; }
#page #content .entries article {
  border-bottom: 1px solid #A5A6AA;
  padding-top: 14px; }
#page #content .entries article:last-child {
  border-bottom: 0; }
#page #content .entries .entry-content h1, #page #content .entries .entry-content h1 a, #page #content .entries .entry-content h2, #page #content .entries .entry-content h2 a, #page #content .entries .entry-content h3, #page #content .entries .entry-content h3 a, #page #content .entries .entry-content h4, #page #content .entries .entry-content h4 a, #page #content .entries .entry-content h5, #page #content .entries .entry-content h5 a, #page #content .entries .entry-content h6, #page #content .entries .entry-content h6 a {
  color: #e9ebee; }
#page #content .entries .entry-content header {
  margin-bottom: 14px; }
#page #content .entries .entry-content header .entry-title {
  margin-bottom: 0; }
#page #content .entries .entry-content header .entry-category, #page #content .entries .entry-content header .entry-category a {
  color: #3e7c24;
  font-size: 12px; }
#page #content .entries .entry-content .featured-image {
  width: 200px;
  height: auto;
  margin: 0 14px 14px 0;
  padding: 0;
  border: 3px solid #fff;
  float: left;
  line-height: 10px; }
#page #content .entries .entry-content .featured-image img {
  margin: 0;
  max-width: 100%; }
#page #content .entries .entry-content .entry-meta {
  clear: both; }

#sidebar ul {
  list-style: none; }
